---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p class="mb-4">
            This website is made using <Link
              href="https://astro.build"
              class="text-foreground"
              external
              underline>Astro</Link
            >, <Link
              href="https://tailwindcss.com"
              class="text-foreground"
              external
              underline>Tailwind</Link
            >, and <Link
              href="https://ui.shadcn.com"
              class="text-foreground"
              external
              underline>shadcn/ui</Link
            >. I love this template as it gives a very clean look to the website, and I don't have to create CSS classes as Tailwind does all the heavy lifting 💪
          </p>
          <p>
            Here are some of my projects which I've done in the past 👇
          </p>
        </div>

        <h2 class="mb-4 text-2xl font-semibold">My Projects</h2>
        <div class="flex flex-col gap-4">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>
