---
import Container from '@/components/Container.astro'
import Layout from '@/layouts/Layout.astro'
import GithubCalendar from '@/components/ui/GithubCalendar'
---

<Layout title="Home">
  <Container class="flex flex-col items-center justify-center py-16 text-center px-4">
    <h1 id="changingText" class="text-4xl text-emerald-500 font-bold transition-opacity duration-1000 ease-in-out ">Hello</h1>

    <p class="text-lg max-w-xl mt-4 leading-relaxed text-justify">
      I'm a student pursuing my bachelor's degree in computer science. 
      I love developing and exploring the internet in general, and this website is the testament of my love for it. 
    </p>
    <p class="text-lg max-w-xl mt-2 leading-relaxed text-justify">
      I am also a CTF player for bi0sblr and currently in the domain of web exploitation. I also love making and rendering models and animations on Blender.
    </p>
    <p class="text-lg max-w-xl mt-2 leading-relaxed text-justify">
      Amidst all this, I'm a trained Hindustani Classical vocalist, play the guitar and harmonium, and play sports such as basketball in my free time.
    </p>
  </Container>
  <div class="border border-white rounded-xl p-8 w-fit mx-auto bg-black">
  <GithubCalendar username="rishblol" client:load />
  </div> 
</Layout>
