---
import Container from '@/components/Container.astro'
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div
      class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:justify-between"
    >
      <div class="flex items-center gap-x-2">
        <span class="text-center text-sm text-muted-foreground">
          &copy; {new Date().getFullYear()} All rights reserved.
        </span>
        <Separator orientation="vertical" className="h-4" />
        <p class="text-center text-sm text-muted-foreground">
          Made with 🤍 using <Link
            href="https://astro.build"
            class="text-foreground"
            external
            underline>Astro</Link
          > ,
          <Link
            href="https://tailwindcss.com"
            class="text-foreground"
            external
            underline>Tailwind</Link
          > , and
          <Link
            href="https://ui.shadcn.com"
            class="text-foreground"
            external
            underline>shadcn/UI</Link
          >.
        </p>
      </div>
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
    <div class="flex items-center justify-center w-full text-sm text-muted-foreground">
      <Link
        href="https://amrita.town/"
        class="text-foreground text-lg"
        external
        underline
      >
        amrita.town
      </Link>
      <div class="flex space-x-3">
        <Link href="https://amrita.town/prev" class="text-foreground" external>
          ←
        </Link>
        <Link href="https://amrita.town/random" class="text-foreground" external>
          ⚅
        </Link>
        <Link href="https://amrita.town/next" class="text-foreground" external>
          →
        </Link>
      </div>
    </div>    
  </Container>
</footer>
